/* import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Markazi+Text:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');

:root{
  --padding-primery : 18px;
  --color-primery : #4674b8;
  /* --color-secandary : #325486; */
/*   --color-primery : hsl(0, 69%, 61%);*/
  --color-secandery : #325486; 
  --color-black: #111;
  --height-primery : 60px;
  --color-white : #fff;

}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    scroll-behavior: smooth;
  }  

h1 {
    font-size: 40px;
  }
  
p {
    font-weight: 30px;
  }

  body{
    background-color:  var(--color-primery);
  }



  /* nav-bar */

@media (min-width:800px){

    .navbar{
        height: var(--height-primery);
    }
    
    .navbar .hameza-nav-link.nav-link{
        padding:var(--padding-primery) calc(var(--padding-primery)*2);
    }

}

.navbar .hameza-nav-link.nav-link{
    padding:var(--padding-primery) calc(var(--padding-primery)*2);
}

.navbar .hameza-nav-link.nav-link:hover{
    background-color: var(--color-secandery);
    color: var(--color-white);
}

/* end_nav-bar */

/* contant */
.container_contant{
  filter: drop-shadow(10px 10px 10px var(--color-black));
  border: 1px solid transparent ;
  border-radius: 20px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color-secandery);
  padding-bottom: 20px;
  overflow: hidden;
  margin-bottom: 60px;
}

/* profile_for_small-acreen */
.container_contant .profile .profile-titel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container_contant .profile b{
  filter: drop-shadow( 8px 10px 10px var(--color-black));
  overflow: hidden;
  height: 170px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  margin-left: 5px;
  margin-right: 8px;
  background-color: var(--color-white);
}

.container_contant .profile b img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 162px;


}

 .auto-input{
  color: var(--color-white);
  background-color: transparent;
}

.container_contant .profile p{
  background-color:var(--color-primery);
  padding: 5px;
  color: var(--color-black);
  font-size: 30px;
  border-radius: 10px;
  text-align: right;
  font-family: 'Markazi Text', serif;
  width: 400px;
  filter: drop-shadow( 7px 7px 5px var(--color-black));
}

.container_contant .slider-link{
/*   border: 10px solid var(--color-secandery); */
  margin: 10px 10px 10px 10px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 10px var(--color-black));
  overflow: hidden;
}

.swiper{
  width: 98%;
  height: fit-content;
}

.swiper-slide a{
  cursor: default;
}

.swiper-slide a img{
  width: 100%;

}

.swiper-button-prev , .swiper-button-next{
  color: var(--color-primery);
}

@media screen and (min-width:973px){
  .container_contant .profile .profile-titel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
/*     background-color: aquamarine; */
  }

  .container_contant .slider-link{
    /*   border: 10px solid var(--color-secandery); */
      margin: 10px 170px 10px 170px;
      border-radius: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(10px 10px 10px var(--color-black));
      overflow: hidden;
    }
}

.social-media{
  background-color: var(--color-primery);
  border-radius: 27px;
  filter:  drop-shadow(10px 10px 10px var(--color-black));
  display: grid;
  margin: 35px 10px 10px 10px;
  font-size: 30px;
}

.social-media a{
  text-decoration: none;
  filter:  drop-shadow(10px 10px 10px var(--color-black));
  color: var(--color-black);
  margin: 10px 20px;
}

@media screen and (min-width:973px){
  .social-media{
    filter: drop-shadow(10px 10px 10px var(--color-black));
    background-color: var(--color-primery);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 32px;
    border-radius: 20px;
  }

  .social-media a{
    display: flex;
  }
}

.footer{
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
}

::-webkit-input-placeholder{
  color: var(--color-white);
}

/* textarea {
  color: var(--color-white);
} */

.footer form{
  background-color: var(--color-secandery);
  filter: drop-shadow(3px -5px 5px var(--color-black));
  height: 100%;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  position: relative;
}

.footer form .name{
  background-color: var(--color-primery);
  color: var(--color-white);
  filter: drop-shadow(3px 5px 5px var(--color-black));
  border: none;
  border-radius: 18px;
  padding: 15px;
  height: 40px;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
}

.footer form .email{
  background-color: var(--color-primery);
  color: var(--color-white);
  filter: drop-shadow(3px 5px 5px var(--color-black));
  border: none;
  border-radius: 18px;
  padding: 15px;
  height: 40px;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
}

.footer form .msg{
  background-color: var(--color-primery);
  color: var(--color-white);
  filter: drop-shadow(3px 5px 5px var(--color-black));
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  border: none;
  border-radius: 18px;
  padding: 15px;
}

.footer form button{
  background-color: var(--color-primery);
  color: var(--color-white);
  filter: drop-shadow(3px 5px 5px var(--color-black));
  position: absolute;
  left: 30%;
  right: 30%;
  top: 87%;
  border: none;
  border-radius: 18px;
  height: 40px;
}

@media screen and (max-width:820px){
  .footer form .name{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
  }

  .footer form .email{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
  }

  .footer form .msg{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
  }

  .footer form button{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 87%;
  }
}

/*# sourceMappingURL=/style.52db61d7.css.map */